* {
box-sizing: border-box;
margin: 0;

}

body {
  font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}

.menu-1 {
  padding: 0;
  overflow: hidden;
  overflow: hidden;
  background-color: #008ae6;
}

.menu-1 a {
    font-size: 12px;
    list-style-type: none;
    color: white;
    float: right;
    border-right: 1px solid #bbb;
    vertical-align: middle;
    display: block;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

.menu-2 {
  padding: 0;
  overflow: hidden;
  overflow: hidden;
  background-color:  #007acc;
}

.menu-2 a {
    font-size: 12px;
    list-style-type: none;
    color: white;
    float: lef;
    border-right: 1px solid #bbb;
    vertical-align: middle;
    display: block;
    text-align: center;
    padding: 22px 10px;
    text-decoration: none;
}
