/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

* {
	box-sizing: border-box;
	margin: 0;
}

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #2874a6 ;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#habitaciones {
background-color: black;
color: white;
padding: 14px 16px;
}

/*
.main-image img{
width: 100%;
position: relative;
}*/

.module {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(https://www.atlantisthepalm.com/-/media/kws-atp/images/marine-and-waterpark/aquaventure-waterpark/shark-safari/hero/sharksafari-hero-3x1.jpg?la=es-es&amp;v1&amp;w=1687&amp;as=0);
  background-size: cover;
  width: 1700px;
  height: 550px;
  position: relative;
  float: left;
}



.lr p {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;

  color: white	;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
	 text-transform: capitalize;
	 font-weight: normal;
	 line-height: 1.125em;
 }
