* {
  box-sizing: border-box;
  margin: 0;
}
.clearfix { clear: both; }

body{
  font-family: sans-serif;
  font-size: 62.5%;
}

img {
max-width: 100%;
}

.img-cabecera {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("imagenes/atlantis-cabecera.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
  position: relative;
  float: left;
    background-position: center;

}

.img-cabecera h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
	 text-transform: capitalize;
	 font-weight: normal;
	 line-height: 1.125em;
	 width: 100%;
}



#texto-centro-poseidon{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 25px 0;
  text-align: center;
  font-size: 120%;
  background: url('imagenes/fondo.png') no-repeat right bottom #f8f9fb;
    background-size: auto auto;
  background-size: auto 90%;
}

.torre-de-poseidon h2{
  color: #333;
  font-size: 1.5em;
  padding-bottom: 11px;
  margin-bottom: 8px;
}



.torre-de-poseidon p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  margin-bottom: 10px;

}

.img-aquaconda {
  background:
		linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0)
		),
		url("imagenes/atlantis-cabecera-2.jpg");
	background-size: cover;
	width: 50%;
	height: 854px;
	position: relative;
	float: left;
	border-bottom:2px solid white;
	border-right:2px solid white;
  background-position: center;

}

.img-aquaconda h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
	 text-transform: capitalize;
	 font-weight: normal;
	 line-height: 1.125em;
	 width: 100%;
  }


  .texto {
    background:
  		linear-gradient(
  			rgba(0, 0, 0, 0),
  			rgba(0, 0, 0, 0)
  		),
  		url(https://www.atlantisthepalm.com/kws/images/background/motif-aquaventure.png?1474867819);
  	background-size: cover;
  	width: 50%;
  	height: 427px;
  	position: relative;
  	float: left;
  	border-bottom:2px solid white;
    background-color: rgba(0, 115, 248);
  }

  .azul p {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 80px;
     font: bold 33px/45px Helvetica, Sans-Serif;
     letter-spacing: 1px;
     padding: 20px;
  	 text-transform: capitalize;
  	 font-weight: normal;
      line-height: 1.125	em;

   }

  .paragrafo-azul {
  color: white;
  font-size: 16px;
  margin-left: 23px;
  }

  .terminos {
  color: white;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 30px;
  font-style: italic;
  }

.img-zoomerango {
  background:
 		linear-gradient(
 			rgba(0, 0, 0, 0),
 			rgba(0, 0, 0, 0)
 		),
 		url("imagenes/atlantis-cabecera-3.jpg");
 	background-size: cover;
 	width: 50%;
 	height: 427px;
 	position: relative;
 	float: left;
 	border-bottom:2px solid white;
  background-position: center;

  }

.img-zoomerango h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.125em;
  width: 100%;
    }

.img-poseidon {
    background:
 		linear-gradient(
 			rgba(0, 0, 0, 0),
 			rgba(0, 0, 0, 0)
 		),
 		url("imagenes/atlantis-cabecera-4.jpg");
 	background-size: cover;
 	width: 50%;
 	height: 427px;
 	position: relative;
 	float: left;
 	border-bottom:2px solid white;
  border-right:2px solid white;
  background-position: center;
}

.img-poseidon h1 {
    font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.125em;
  width: 100%;
}

.img-tobogan {
    background:
 		linear-gradient(
 			rgba(0, 0, 0, 0),
 			rgba(0, 0, 0, 0)
 		),
 		url("imagenes/atlantis-cabecera-5.jpg");
 	background-size: cover;
 	width: 50%;
 	height: 427px;
 	position: relative;
 	float: right;
 	border-bottom:2px solid white;
	border-right:2px solid white;
  background-position: center;
}

.img-tobogan h1 {
    font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.125em;
  width: 100%;
}

#texto-centro-neptuno{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 25px 0;
  text-align: center;  font-size: 120%;
  font-size: 120%;
  background: url('imagenes/fondo.png') no-repeat right bottom #f8f9fb;
    background-size: auto auto;
  background-size: auto 90%;
}

.torre-de-neptuno h2{
  color: #333;
  font-size: 1.5em;
  padding-bottom: 11px;
  margin-bottom: 8px;
}

.torre-de-neptuno p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  margin-bottom: 10px;

}

.img-leap {
  background:
		linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0)
		),
		url("imagenes/atlantis-cabecera-6.jpg");
	background-size: cover;
	width: 50%;
	height: 854px;
	position: relative;
	float: left;
	border-top:2px solid white;
	border-right:2px solid white;
  background-position: center;
}

.img-leap h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
	 text-transform: capitalize;
	 font-weight: normal;
	 line-height: 1.125em;
	 width: 100%;
}

.img-tiburones {
  background:
 		linear-gradient(
 			rgba(0, 0, 0, 0),
 			rgba(0, 0, 0, 0)
 		),
 		url("imagenes/atlantis-cabecera-8.jpg");
 	background-size: cover;
 	width: 50%;
 	height: 427px;
 	position: relative;
 	float: right;
 	border-bottom:2px solid white;
 	border-top:2px solid white;
  background-position: center;

  }

.img-tiburones h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.125em;
  width: 100%;
    }

.img-atracciones {
      background:
     		linear-gradient(
     			rgba(0, 0, 0, 0),
     			rgba(0, 0, 0, 0)
     		),
     		url("imagenes/atlantis-cabecera-7.jpg");
     	background-size: cover;
     	width: 50%;
     	height: 427px;
     	position: relative;
     	float: right;
      background-position: center;

      }

.img-atracciones h1 {
      font-family: 'Roboto', sans-serif;
      position: absolute;
      bottom: 0px;
      left: 0px;
      color: white;
      margin: 0;
       font: bold 24px/45px Helvetica, Sans-Serif;
       letter-spacing: 1px;
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(0, 0, 0, 0.7);
       padding: 20px;
      text-transform: capitalize;
      font-weight: normal;
      line-height: 1.125em;
      width: 100%;
        }



#informacion {
  width: 100%;
  background-color: #0070F4;
  position: relative;
  color: #fff;
}



.tituloinfo{
  padding: 60px 0;

}

.columna-1{
  font-size: 1.15em;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 30px;
  padding-left: 0;
  background: none;
  cursor: default;
  float: left;
  width: 47.8%;
  margin-right: 4.4%;
}

.columnacentralinfo{
  overflow: hidden;
  width: 71.56%;
  max-width: 1208px;
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 110%;
}

.iconos{
  width: 57px;
  height: 57px;
  display: inline-block;
  margin-right: 20px;
  float: left;
  border: 3px solid #fff;
}

.informacion-texto{
  overflow: hidden;
}

.titulo{
  text-transform: capitalize;
  letter-spacing: 0.025em;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
  display: block;
}


.columna-2{
  font-size: 1.15em;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 30px;
  padding-left: 0;
  background: none;
  cursor: default;
  float: left;
  width: 47.8%;
}

.columna-2 a{
  color: #fff;
font-weight: bold;
}

.texto-restricciones{
  padding-bottom: 4px;
}

.informacion-texto ul{
  list-style: disc;
}

.menu-inferior{
  position: relative;
  z-index: 4;
  transition: none;
  clear: both;
  background-color: #0065a2;
  list-style: none;
  float: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  padding-bottom: 25px;
 }

.columnacentral{
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.menu-inferior nav{
  width: 100%;
  margin-top: 25px;
  box-shadow: none;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 0;
  position: static;
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 200px;
}

.manu-inferior ul{
  padding-left: 29px;
  padding-right: 340px;
  border-bottom: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  width: auto;
  margin-top: 0;
  position: static;
  float: left;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  margin: 0;
}

.menu-inferior li{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  float: left;
  text-transform: uppercase;
  margin: 0;ยก
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

.menu-inferior a{
  background: none;
  padding-left: 7.5px;
  padding-left: 0;
  padding-right: 5px;
  border: 1px solid transparent;
  padding: 0 9px;
      padding-right: 9px;
      padding-left: 9px;
  line-height: 1.5em;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.links a {
background: url('imagenes/separador.gif') left center no-repeat;
margin-top: 5px;
margin-bottom: 5px;
}

.social{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.social-links{
  margin-left: 29px;
  padding-top: 10px;
  margin-right: 50px;
  padding-bottom: 0;
  padding: 0;
  float: left;
  display: inline-block;
  list-style: none;
}

.menu-inferior p{
  padding-top: 3px;
  line-height: 25px;
  width: auto;
  position: relative;
  color: #fff;
  float: left;
  width: auto;
  padding-top: 0.7em;
  top: 0;
  left: 0;
}

.logo-promocional{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 4px;
}
