* { box-sizing: border-box;}

body{
  font-family: sans-serif;
}

img {
max-width: 100%;
}

.img-cabecera {
   position: relative;
   width: 100%;165px
}

.img-cabecera h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 3;
    z-index: 999;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
}

.clearfix { clear: both; }


.torre-de-poseidon {

    text-align: center;
    font-size: 90%;

    z-index: 1000;

}
